<%- include('templates/header.ejs') %>
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
      <div class="container-fluid dashboard-content ">
        <h1>Add Clothes</h1><br><br>
        <form action="/admin/clothes/add" method="post">
          <label for="">Nama</label><br>
          <input type="text" name="name"><br>
          <br>
          <label for="">Material</label><br>
          <input type="text" name="material"><br>
          <br>
          <label for="">Color</label><br>
          <input type="text" name="color"><br>
          <br>
          <label for="">Price</label><br>
          <input type="number" name="price"><br>
          <br>
          <label for="">Stock</label><br>
          <input type="number" name="stock"><br>
          <br>
          <label for="">Image</label><br>
          <input type="text" name="image"><br>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
</div>

<%- include('templates/footer.ejs') %>