<%- include('templates/header.ejs') %>
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <h1>Dashboard Admin</h1>
                <h1>Cobaa</h1>
            </div>
        </div>
    </div>
    <%- include('templates/footer.ejs') %>