<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Clothes</title>
</head>
<body>
  <h1>Add Clothes</h1><br><br>
  <form action="/clothes/add" method="post">
    <label for="">Nama</label><br>
    <input type="text" name="name"><br>
    <br>
    <label for="">Material</label><br>
    <input type="text" name="material"><br>
    <br>
    <label for="">Color</label><br>
    <input type="text" name="color"><br>
    <br>
    <label for="">Price</label><br>
    <input type="number" name="price"><br>
    <br>
    <label for="">Stock</label><br>
    <input type="number" name="stock"><br>
    <br>
    <label for="">Image</label><br>
    <input type="url" name="image"><br>
    <br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>